* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(241, 241, 241);
  position: relative;
}

.navbar {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0px 30px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.navbar-links li {
  transition: all .3s ease-in-out;
  border-bottom: 2px solid transparent;
}

.navbar-links li:hover {
  color: #ee3240;
  border-bottom: 2px solid #ee3240;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ee3240;
}

.about-start::after {
  content: '';
  width: 35%;
  height: 2px;
  background-color: red;
}

.about-start::before {
  content: '';
  width: 35%;
  height: 2px;
  background-color: red;
}

.about-card-text {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
}

.home-header-btn {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  background: rgb(241, 241, 241);
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: royalblue;
  z-index: 1;
}

.home-header-btn span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(241, 241, 241);
  z-index: -1;
}

button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 1000%;
  background: rgb(241, 241, 241);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

.home-header-btn:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: royalblue;
}

.home-header-btn:hover {
  color: white;

}

.home-header-btn:active span::before {
  background: #2751cd;
}


.footer-icons {
  transition: all .3s ease;
}

.footer-icons:hover {
  box-shadow: 0 0 5px #2751cd,
    0 0 10px #2751cd;
  background-color: #2751cd;
  color: white;
  transform: scale(1.1) translateY(-7px);
}

.contact-icons {
  transition: all .3s ease;
  color: #2751cd;
}

.contact-icons:hover {
  box-shadow: 0 0 5px #2751cd,
    0 0 10px #2751cd;
  background-color: #2751cd;
  color: white;
  transform: scale(1.1) translateY(-7px);
}

.contact {
  background-color: rgba(0, 0, 0, 0.308);
}


.showbtn {
  width: 50px;
  height: 50px;
  position: fixed;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  border-radius: 50%;
  cursor: pointer;
  right: -110px;
  bottom: 30px;
  transition: all .3s ease;
}

.showbtn.active {
  right: 30px;
}

.showbtn:hover {
  background-color: #2751cd;
  filter: drop-shadow(0 0 2em #2751cd);
  color: white;
  border: #2751cd;
}

.showbtn-contact {
  width: 50px;
  height: 50px;
  position: fixed;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  border-radius: 50%;
  cursor: pointer;
  left: -110px;
  bottom: 30px;
  transition: all .3s ease;
}

.showbtn-contact.active {
  left: 30px;
}

.showbtn-contact:hover {
  background-color: #2751cd;
  filter: drop-shadow(0 0 2em #2751cd);
  color: white;
  border: #2751cd;
}

.contact-card-option {
  transition: all .3s ease;
}

.contact-btn {
  transform: rotate(0deg);
  transition: all .3s ease;

}

.contact-btn.active {
  transform: rotate(180deg);
}

.shadow {
  background-color: #6088ff;
  height: 40px;
  filter: blur(2em);
}

.services-cards::-webkit-scrollbar-thumb {
  background-color: #2751cd;
}

.service-card {
  transition: all .3s ease;
}

.service-card:hover {
  transform: scale(1.1);
  color: white;
}


.service-card::before,
.service-card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: red;
  transition: all 0.5s;
}

.service-card::before {
  top: 0;
  right: 0;
  border-radius: 0 5px 0 100%;
}

.service-card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 5px;
}

.service-card:hover::before,
.service-card:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all 0.5s;
}

.navbar-menu {
  background: rgba(255, 255, 255, 0.958);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  height: 100vh;
  top: -2000px;
  right: 0;
  color: #2751cd;
  transition: all .5s;
}

.navbar-menu.active {
  top: 0;
}

.navbar-menu li {
  transition: all .5s;
}

.navbar-menu li:hover {
  transform: scale(1.1) translateY(-7px);
}

.services-search {
  padding: 10px 20px;
  outline: none;
  width: 300px;
  background-color: transparent;
}

.select,
.select2 {
  width: 120px;
  font-size: 1.25rem;
  padding: 2px 0px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 1px solid #2751cd;
  border-radius: 5px;
  text-align: center;
  background-color: transparent;
  color: #2751cd;
}

.select2 {
  width: 50px;
  appearance: none;
  padding: 2px 10px;
  font-size: 1rem;
}

.another-text,
.another-btn-icon{
  transition: all .3s ease;
}

.another-text.active{
  height: 150px;
}

.another-btn-icon.active{
  transform: rotate(180deg);
}